.sidebar{
    min-height: 100vh;
    background-color: #f8f8ff80;
}

@media (max-width: 768px) {
    .sidebar{
        min-height: 100px;
        height: 100px;
    }
    .sidebar-items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .user-name{
        margin-top: 0!important;
    }
}